.float-container-mentor {

    display: flex;
    justify-content:space-between;
    padding: 6rem;

  }
  .mt-3-custom
{
  margin-top: 6rem!important;
  margin-bottom: 10rem;
}
  .float-container-mentor .card
  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  img
  {
    width: 50%; 
  }