html{
  background-color: aliceblue;
}
.container
{
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid white;
  background-color: #f0faff;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  
}
.container-body {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex: 1;
  padding: 20px;
}

.image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  max-width: 100%;
  height: auto;
}





.homepage
{
  display: flex;
  flex-direction: row;
  
  width: 100%;
}
.homepage div
{
  width: 50%;
}

.footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  
}
.footer p{
  text-align: center;
}
.mt-3-custom
{
  margin-top: 6rem!important;
  margin-bottom: 8rem;
}
p{
  padding: 2rem;
  text-align: justify;
}
.float-container {
  padding: 20px;
}
.float-container img{
  max-width: 80%;
  height: auto;
  padding: 5rem;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}  